*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body {
 background-color: #0b1d26;
 color: white;
 line-height: 1.6;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 80px;
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 10;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 30px;
}
nav a{
    color: rgb(16, 16, 16);
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}
.hero{
  height: 100vh;
  background: url(image/bg-2.jpg) no-repeat center center/cover;
  display: flex;
  align-items: center;
  padding: 0 80px;
  position: relative;
  
}
.overlay{
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   z-index: 1;
   position: absolute;
}
.hero-content{
    position: relative;
    z-index: 2;
    min-width: 600px;
    
}
.hero-content h2{
    color: rgb(86, 19, 210);
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
}
.hero-content h3{
    font-size: 48px;
    color: rgb(15, 15, 15);
    
}
.one {
  padding: 100px 80px;
  margin-top: -80px; 
  position: relative;
  
}
.one-card{
    display: flex;
    align-items: center;
    gap: 60px;
}
.one-text{
    flex: 1;
}
.one-text h3{
    font-size: 24px;
    margin-bottom: 20px;
}
.one-text h2{
    color: yellowgreen;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
}
.one-text p{
    color:aliceblue;
    margin-bottom: 20px;
}
.one-text a{
    color: yellowgreen;
    text-decoration: none;
}
.one-image{
    flex: 1;
}
.one-image img{
    width: 100%;
    
    max-width: 300px;
    margin-top: 20px;
}
.one-image img:hover{
    transform: scale(1.2);
    cursor: pointer;
     transition: 0.5s;
}
.two{

  padding: 100px 80px;
  margin-top: -80px; 
  position: relative;
}
.two-card{
    gap: 20px;
    display: flex;
    align-items: center;
}
.two-text{
    flex: 1;
}
.two-text h3{
    margin-bottom: 60px;
    font-size: 24px;
}
.two-text h2{
    color: yellowgreen;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
  
}
.two-text p{
    color: aliceblue;
    margin-bottom: 20px;
}
.two-text a{
    color: yellowgreen;
    text-decoration: none;
}
.two-image{
    flex: 1;
}
.two-image img{
    width: 100%;
    max-width: 300px;
    margin-left: 50px;
}
.two-image img:hover{
    transition: 0.5s;
    cursor: pointer;
    transform: scale(1.2);
}
.logo{
    color: black;
    font-weight: bold;
    font-size: 24px;
    transition: all 0.3 ease;
}
.logo:hover{
    color:lightgray;
    transform: scale(1.2);
    cursor: pointer;
}
.three{
    padding: 100px 80px;
    margin-top: -80px;
    position: relative;
}
.three-card{
    gap: 60px;
    display: flex;
    align-items: center;
}
.three-text{
    flex: 1;
}
.three-text h3{
    margin-bottom: 20px;
    font-size: 24px;
}
.three-text h2{
    color: yellowgreen;
    font-size: 15px;
    letter-spacing: 2px;
    margin-bottom: 20px;
}
.three-text p{
    color: aliceblue;
    margin-bottom: 20px;
}
.three-text a{
    color: yellowgreen;
    text-decoration: none;
}
.three-image{
    flex: 1;
}
.three-image img{
    max-width: 300px;
    width: 100%;
}
.three-image img:hover{
    transform: scale(1.2);
    cursor: pointer;
     transition: 0.5s;
}
.footer{
    padding: 50px 100px;
    border-top:1px solid;
}
.footer-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-left{
    max-width: 400px;
}
.footer-left h2{
    margin-bottom: 15px;
    font-size: 28px;
}
.footer-left p{
    color: aliceblue;
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 1.6;
}
.footer-links{
    display: flex;
    flex: 2;
    gap: 60px;
    margin-left: 150px;
}
.footer-links h3{
    margin-bottom: 15px;
    font-size: 16px;
}
.footer-links ul{
    list-style: none;
    padding: 0;
}
.footer-links ul li{
    margin-bottom: 10px;
}
.footer-links ul li a{
    color: aliceblue;
    text-decoration: none;
    font-size: 14px;
}
.footer-links ul li a:hover{
    color: yellowgreen;
    text-decoration: none;
}

body.Light-mode {
  background-color: #ffffff;
  color: #0b0b0b;
}

/* .Light-mode header {
    background-color: #f8f8f8;
} */

/* .Light-mode nav ul li a {
  color: #007B5E ;
} */

.Light-mode section {
  background-color: #ffffff;
}
.Light-mode p {
  background-color: #f1f1f1;
  color: #080808;
}

.Light-mode footer {
  background-color: #f1f1f1;
  color: #080808;
}

.Light-mode .hero {
  height: 100vh;
  background: url(image/BG.jpg) no-repeat center center/cover;
  display: flex;
  align-items: center;
  padding: 0 80px;
  position: relative;
}

.Light-mode .hero-content h3{
    font-size: 48px;
    color: rgb(249, 248, 248);
    
}
.Light-mode nav a{
    color: rgb(250, 249, 249);
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}
.Light-mode .footer-links ul li a{
    color: rgb(6, 6, 6);
    text-decoration: none;
    font-size: 14px;
}
.theme-toggle {
    background: none;
    padding: 5px 10px;
    border: 2px solid #333;
    color: #333;
    cursor: pointer;
    border-radius: 4px;
    font-weight: bold;
}

body.Light-mode .theme-toggle {
  border-color: #0b0a0a;
  color: #0e0c0c;
}




